<style type="text/css">
    .css-1nu97io {
        display: flex;
        -moz-box-align: center;
        align-items: center;
        height: 37px;
        padding-top: 15px;
        margin: 0px auto;
        text-align: center;
        -moz-box-pack: center;
        justify-content: center;
        animation: 0.8s ease-in-out 0s infinite alternate backwards running pulse;
    }

    .css-1nu97io div {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 37px 10px 10px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
        animation: 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite alternate none running animation-jdgz71;
    }

    .css-1nu97io div:nth-child(5n+1) {
        background: rgb(255, 255, 255);
    }

    .css-1nu97io div:nth-child(5n+2) {
        background: rgb(255, 255, 255);
        animation-delay: calc(0.1s);
    }

    .css-1nu97io div:nth-child(5n+3) {
        background: rgb(255, 255, 255);
        animation-delay: calc(0.2s);
    }

    .css-1nu97io div:nth-child(5n+4) {
        background: rgb(255, 255, 255);
        animation-delay: calc(0.3s);
    }

    .css-1nu97io div:nth-child(5n+5) {
        background: rgb(255, 255, 255);
        animation-delay: calc(0.4s);
    }

    @keyframes animation-jdgz71 {
        to {
            transform:scale(1.75) translateY(-20px)
        }
    }
</style>

<div class="css-1nu97io undefined">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
