<style type="text/css">
    .certContainer {
        width: 100%;
        margin: 0 auto;
    }
    
    .badgeContainer {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
        display: flex;
        justify-content: start;
    }
</style>

<div class="certContainer">
    <a href="https://www.credential.net/7c1a186f-a953-4b09-ac89-0756d48b7f81" target="_blank"><img src="/assets/certifications/OSCP-Badge.png" width="100px" height="100px" alt="OSCP badge"></a>
    <a href="https://www.credential.net/ce3df16b-895d-44f7-804e-67bf794d3a49" target="_blank"><img src="/assets/certifications/OSWP-Badge.png" width="100px" height="100px" alt="OSWP badge"></a>
    <a href="https://www.credential.net/52977d30-87cd-4773-a4bd-634a99aa51f5" target="_blank"><img src="/assets/certifications/OSEP-Badge.png" width="100px" height="100px" alt="OSEP badge"></a>
    <a href="https://www.credential.net/52977d30-87cd-4773-a4bd-634a99aa51f5" target="_blank"><img src="/assets/certifications/KLCP-Badge.png" width="100px" height="100px" alt="KLCP badge"></a>
</div>

<div class="badgeContainer">
    <script src="https://www.hackthebox.com/badge/973692"></script>
    <script src="https://tryhackme.com/badge/1026785"></script>
</div>
