<style type="text/css">
    .certContainer {
        width: 100%;
        margin: 0 auto;
    }
    
    .badgeContainer {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
    }
</style>

<div class="certContainer">
    <a href="https://www.credential.net/7c1a186f-a953-4b09-ac89-0756d48b7f81" target="_blank"><img src="/assets/certifications/OSCP-Badge.png" width="80px" height="80px" alt="OffSec Certified Professional (OSCP) badge"></a>
    <a href="https://www.credential.net/ce3df16b-895d-44f7-804e-67bf794d3a49" target="_blank"><img src="/assets/certifications/OSWP-Badge.png" width="80px" height="80px" alt="OffSec Wireless Professional (OSWP) badge"></a>
    <a href="https://www.credential.net/52977d30-87cd-4773-a4bd-634a99aa51f5" target="_blank"><img src="/assets/certifications/OSEP-Badge.png" width="80px" height="80px" alt="OffSec Expirienced Pentester (OSEP) badge"></a>
    <a href="https://www.credential.net/457e8b9b-0023-40e0-ba84-f71620cd3d71" target="_blank"><img src="/assets/certifications/KLCP-Badge.png" width="80px" height="80px" alt="Kali Linux Certified Professional (KLCP) badge"></a>
</div>

<div class="badgeContainer">
    <div>
        <a href="https://app.hackthebox.com/profile/973692">
            <img src="https://www.hackthebox.eu/badge/image/973692" alt="HackTheBox-Badge"> 
        </a>
    </div>

    <div>
        <script src="https://tryhackme.com/badge/1026785"></script>
    </div>
</div>
