<style type="text/css">
    .badgeContainer {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
</style>

<div class="badgeContainer">
    <a href="https://www.credential.net/7c1a186f-a953-4b09-ac89-0756d48b7f81" target="_blank"><img src="/assets/certifications/OSCP-Badge.png" width="100px" height="100px" alt="OSCP-Badge"></a>
    <a href="https://www.credential.net/ce3df16b-895d-44f7-804e-67bf794d3a49" target="_blank"><img src="/assets/certifications/OSWP-Badge.png" width="100px" height="100px" alt="OSWP-Badge"></a>
    <a href="https://www.credential.net/52977d30-87cd-4773-a4bd-634a99aa51f5" target="_blank"><img src="/assets/certifications/OSEP-Badge.png" width="100px" height="100px" alt="OSEP-Badge"></a>
</div>