<style type="text/css">
    .repoContainer {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        gap: 16px;
    }
    .linkBlock {
        border-bottom: 0 !important;
        color: unset !important;
    }
    .repoDiv {
        width: 258px;
        height: 194px;
        border-radius: 25px;
        border: 1px solid #b4b4bb4d;
        padding: 16px;
        background-color: #151516;

    }
    .repoIcon {
        border: 2px solid;
        border-radius: 10px;
        width: fit-content;
        padding: 10px;
        background-color: #18181B;
    }
    .repoName {
        font-weight: bold;
        font-size: 110%;
        color: white;
    }
    .repoDescription {
        overflow: hidden;
        /* white-space: nowrap; Don't forget this one */
        text-overflow: ellipsis;
        height: 40px;
        line-height: 19px;
    }
    .repoStats {
        display: flex;
        height: 20px;
        margin-top: 16px;
        gap: 1.25rem;
    }
    .languageColor {
        display: block;
        border-radius: 100%;
        width: 12px;
        height: 12px;
    }
    .someStat {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
</style>


<div id="github-repos" class="repoContainer">

</div>

<script>
    const getGitHubRepositories = async function() {
        const iconSvg = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#AFB0B1" d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>';
        const starSvg = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#808080" d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"/></svg>';
        const forkSvg = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#808080" d="M80 104a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm80-24c0 32.8-19.7 61-48 73.3l0 38.7c0 17.7 14.3 32 32 32l160 0c17.7 0 32-14.3 32-32l0-38.7C307.7 141 288 112.8 288 80c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3l0 38.7c0 53-43 96-96 96l-48 0 0 70.7c28.3 12.3 48 40.5 48 73.3c0 44.2-35.8 80-80 80s-80-35.8-80-80c0-32.8 19.7-61 48-73.3l0-70.7-48 0c-53 0-96-43-96-96l0-38.7C19.7 141 0 112.8 0 80C0 35.8 35.8 0 80 0s80 35.8 80 80zm208 24a24 24 0 1 0 0-48 24 24 0 1 0 0 48zM248 432a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z"/></svg>';

        const repoUrl = "https://api.github.com/users/vflame6/repos?per_page=100";

        const response = await fetch(repoUrl, {
            headers: {
                "Accept": "application/vnd.github+json",
                "X-GitHub-Api-Version": "2022-11-28",
            }
        });
        const jsonResponse = await response.json();

        if (!jsonResponse) {
            errorRepo = document.createElement('div');
            errorRepo.textContent = "Failed to fetch repositories";
            document.getElementById('github-repos').appendChild(errorRepo);
        } else {
            const sortedRepos = jsonResponse.sort((a, b) => {
                if (a.stargazers_count < b.stargazers_count) return 1
                else if (a.stargazers_count > b.stargazers_count) return -1
                return 0
            })
            for (var i=0, element; element=jsonResponse[i]; i++) {
                linkBlock = document.createElement('a');
                linkBlock.setAttribute("href", element.html_url);
                linkBlock.setAttribute("target", "_blank");
                linkBlock.setAttribute("rel", "noopener noreferrer");
                linkBlock.setAttribute("class", "linkBlock");
                document.getElementById('github-repos').appendChild(linkBlock);

                repoDiv = document.createElement('div');
                repoDiv.setAttribute("class", "repoDiv");
                linkBlock.appendChild(repoDiv);

                repoIcon = document.createElement('div');
                repoIcon.setAttribute("class", "repoIcon");
                repoIcon.innerHTML = iconSvg;
                repoDiv.appendChild(repoIcon);

                repoName = document.createElement('div');
                repoName.setAttribute("class", "repoName");
                repoName.innerHTML = element.name;
                repoDiv.appendChild(repoName);

                repoDescription = document.createElement('div');
                repoDescription.setAttribute("class", "repoDescription");
                repoDescription.textContent = element.description;
                repoDiv.appendChild(repoDescription);

                repoStats = document.createElement('div');
                repoStats.setAttribute("class", "repoStats");
                repoDiv.appendChild(repoStats);

                lang = document.createElement('div');
                lang.setAttribute("class", "someStat");
                repoStats.appendChild(lang);
                
                languageColorElement = document.createElement('span');
                languageColor = "white;";
                if (element.language === "Go") {
                    languageColor = "rgb(0, 173, 216);";
                }
                languageColorElement.setAttribute("style", "background-color: " + languageColor);
                languageColorElement.setAttribute("class", "languageColor");
                lang.appendChild(languageColorElement);

                languageStat = document.createElement('span');
                languageStat.textContent = element.language;
                lang.appendChild(languageStat);

                starsStat = document.createElement('span');
                starsStat.setAttribute("class", "someStat");
                starsStat.innerHTML = starSvg + element.stargazers_count;
                repoStats.appendChild(starsStat);

                forkStat = document.createElement('span');
                forkStat.setAttribute("class", "someStat");
                forkStat.innerHTML = forkSvg + element.forks;
                repoStats.appendChild(forkStat);
            }
        }
    }

    getGitHubRepositories();
</script>



